---
import AmountBooksAvailable from "../components/AmountBooksAvailable";
import BooksContainer from "../components/BooksContainer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Books list">
  <Header />
  <main class="w-[1120px] mx-auto">
    <section>
      <div>
        <AmountBooksAvailable client:only />
      </div>
      <BooksContainer />
    </section>
  </main>
</Layout>
