---
import AmountBooksAvailable from "../components/AmountBooksAvailable";
import BooksContainer from "../components/BooksContainer.tsx";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import GenreFilter from "../components/GenreFilter";
---

<Layout title="Books list">
  <Header />
  <main class="w-[1120px] mx-auto">
    <section>
      <div>
        <AmountBooksAvailable client:only />
        <GenreFilter client:visible />
      </div>
      <BooksContainer client:only />
    </section>
  </main>
</Layout>
