---
import BookItem from "./BookItem.astro";
import books from "../data/books.json";
export interface Books {
  title: string;
  pages: number;
  genre: string;
  cover: string;
  synopsis: string;
  year: number;
  ISBN: string;
  author: Author;
}

export interface Author {
  name: string;
  otherBooks: string[];
}
---

<ul class="grid grid-cols-2 md:grid-cols-3 gap-3 mt-20">
  {
    books.library.map(({ book: { title, cover, ISBN } }): Books => {
      return (
        <li class="relative">
          <BookItem title={title} cover={cover} ISBN={ISBN} />
        </li>
      );
    })
  }
</ul>
